<div class="header"><h3><a asp-action="logout" asp-controller="Login">Log Out</a></h3>
<h1>Welcome to the Wedding Planner</h1>  
</div>
<hr />

<table>
  <thead>
    <tr>
      <td>Wedding</td>
      <td>Date</td>
      <td>Guest</td>
      <td>Action</td>
  </thead>
  <tbody>
    @foreach (var wedding in @ViewBag.Weddings)
    {
      <tr>
        <td><a asp-action="WInfo" asp-controller="Wedding" asp-route-WeddingId="@wedding["WeddingId"]">@wedding["WedderOne"] &amp; @wedding["WedderTwo"]</a></td>
        <td>@wedding["WeddingDate"].ToString("MMM d yyyy")</td>
        <td>@wedding["RSVPs"]</td>
        @if (wedding["Owned"])
        {
          <td><a asp-action="Delete" asp-controller="Wedding" asp-route-WeddingId="@wedding["WeddingId"]">Delete</a></td>
        }
        else if (wedding["RSVPed"])
        {
          <td><a asp-action="UnRSVP" asp-controller="Wedding" asp-route-WeddingId="@wedding["WeddingId"]">Un-RSVP</a></td>
        }
        else
        {
          <td><a asp-action="RSVPok" asp-controller="Wedding" asp-route-WeddingId="@wedding["WeddingId"]">RSVP</a></td>
        }
      </tr>
    }
  </tbody>
</table>








<a href="newWed">New Wedding</a>

