@{ ViewData["Title"] = "Dojogachi"; }
<div class="ninja">
    <h1>DojoGachi!</h1>
</div>
<h2>@ViewBag.results </h2>
<div class="ninja">

</div>
<table>
    <tr>
        <td>
            <h2>Happiness</h2>
        </td>
         <td>
            <h2>
                @ViewBag.happiness
            </h2>
        </td>
        <td>
            <h2>Energy</h2>
        </td>
         <td>
            <h2>
                @ViewBag.energy
            </h2>
        </td>
        <td>
            <h2>Fullness</h2>
        </td>
         <td>
            <h2>
                @ViewBag.fullness
            </h2>
        </td>
        <td>
            <h2>Meals</h2>
        </td>
         <td>
            <h2>
                @ViewBag.meals
            </h2>
        </td>
    </tr>
    </table>
    <div id="container">

        <h2>@ViewBag.msg</h2>


    </div>
    <table>
    <tr>
               <td>
            <form action="Dojogachi/Feed" , method="get">
                <button type="submit">Feed</button>
            </form>
        </td>
        <td>
            <form action="Dojogachi/Play" , method="get">
                <button type="submit">Play</button>
            </form>
        </td>
        <td>
            <form action="Dojogachi/Work" , method="get">
                <button type="submit">Work</button>
            </form>
        </td>
        <td>
            <form action="Dojogachi/Sleep" , method="get">
                <button type="submit">Sleep</button>
            </form>
        </td>
 
    </tr>
</table>